*{
    margin: 0;
    padding: 0;
}

body{

    text-align: center;
    
}
h1{
    display: flex;
    justify-content: center;
    height: 60px;
    top: 229px;
    left: 610px;
    margin-top: 120px;
    width: 100vw;
    

}
.arriba{
width: 100vw;
height: 13vh;
background-color: rgb(204, 199, 199);
}

.inicio{
 display: flex;   
 justify-content: flex-end;
 margin: 50px;
 margin-top: -50px;
 font-size: 25px;
}
.tureceta{
    display: flex;
    justify-content: left;
    margin: 45px;
    margin-top: -75px;
   font-weight: bold;
   font-size: 30px;
}