* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    background-image: url("verde.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(10, 10, 10);
}
.cajadeldia {
    text-align: center;
    margin: 20px;

}

.titulo-dieta {
    font-weight: bold;
    font-size: 20px;
    color: #333;
}
.titulo-dia {
    margin: 10px 0;
    font-size: 1.5em;
    color: #333;
}
.icono-dieta {
    font-size: 1.5em;
    color: #555;
}

.logo {
    width: 40px;
    height: auto;
}

.usuario {
    font-size: 16px;
    cursor: pointer;
}



.cajagrandota {
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cajadeldia {
    font-size: 2.5em;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #333; /* Borde para asemejar el diseño */
}

.macros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #333; 
    margin-bottom: 20px;
    width: 33%;
}

.macros p {
    font-weight: bold;
    color: #333;
}

.macros div{
    margin: 5px ;
}


.cajacomida {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cajacomida h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.infocomida, .comida {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.comida {
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 8px;
}

.imagencomida {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.boton-receta {
    background-color: #7c7c7c; 
    color: #fff; 
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}


.recetadesplegable {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    color: #333;
    z-index: 1000;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.recetadesplegable h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

.ingredient-list {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
    color: #555;
}

.cerrar-modal {
    background-color: #bebebe; /* Rojo */
    color: #fff; /* Blanco */
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.boton-receta:hover {
    background-color: #0056b3; 
}

.cerrar-modal:hover {
    background-color: #201f1f; 
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

