* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    background-image: url("verde.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    
}

.arriba{
    width: 100vw;
    height: 150px;
    background-color:rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    }
    .logo{
        font-size: 35px;
        font-family: Merienda;
    }
    .nutriplan{
        font-size: 35px;
        font-family: Merienda;
    }

    .dietita{
        width: 100px;
        height: 70px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 30px;
        
    }

    
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 2px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(10, 10, 10);
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cajadeldia {
    text-align: center;
    margin: 20px;

}

.titulo-dieta {
    font-weight: bold;
    font-size: 20px;
    color: #333;
}
.titulo-dia {
    margin: 10px 0;
    font-size: 1.5em;
    color: #333;
}
.icono-dieta {
    font-size: 1.5em;
    color: #555;
}

.logo {
    width: 130px;
    height: auto;
}

.usuario {
    font-size: 16px;
    cursor: pointer;
}



.cajagrandota {
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cajadeldia {
    font-size: 2.5em;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #333; /* Borde para asemejar el diseño */
}

.contenedorTotal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.macros {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #333; 
    margin-bottom: 20px;
    width: 50vw;
    margin: auto;
}

.MT{
display: flex;
align-items: center;
}

.macros p {
    font-weight: bold;
    color: #333;
    text-align: center;
}

.macros div{
    margin: 5px ;
}


.cajacomida {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cajacomida h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}



.comida {
    width: 630px;
    
    background-color: #fff;
    border-radius: 10px;
    margin-top: 100px;
    border: 2px solid rgba(113, 109, 109, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}
.tituloComida{
    margin-top: 4px;
    font-size: 45px;
    
}
.infoNutricional{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;
    text-align: center;
}
.calorias{
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    text-align: center;
}
.titulo{
    color: rgba(151, 151, 151, 1);
}
.nombreComida{
    margin: 20px 0;
    text-align: left;

}
.imgDeLaComida{
    width: 100px;
    height: 80px;
    border: 2px solid black;
    margin: 10px 0;
}
.imgComida{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.buttonFlecha{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttonFlecha:hover{
    cursor: pointer;
}
.flecha{
    width: 30px;
}
.flechaAlreves{
    transform: rotate(180deg);
}

.infoExtra{
    width: 92%;
    background: rgba(240, 238, 238, 1);
    margin-top: 20px;
    margin-bottom: 40px;
    border: 2px solid black;
    border-radius: 10px;
    padding-bottom: 10px;
}
.tituloReceta{
    text-align: center;
}
.listaDeIngredientes{
    margin-left: 30px;
}
.receta{
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0 40px;
}
.recetadesplegable {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    color: #333;
    z-index: 1000;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.recetadesplegable h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

.ingredient-list {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
    color: #555;
}

.cerrar-modal {
    background-color: #bebebe; /* Rojo */
    color: #fff; /* Blanco */
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.boton-receta:hover {
    background-color: #0056b3; 
}

.cerrar-modal:hover {
    background-color: #201f1f; 
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cambiarReceta{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cambiarRecetaFoto{
    width: 40px;
}