.container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 20px;
  }
  .tarjeta {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 350px;
    height: 250px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #f8f8f8;
  }
  .h3 {
    margin: 10px;
    font-size: 18px;
    color: rgb(231, 227, 227);
  }
  .p {
    margin: 5px 0;
    color: rgb(231, 227, 227);
  }
  .ul {
    padding: 0;
  }
