body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Fondo de pantalla completa */
body {
    /* background: url('frutasinicio.png') no-repeat center center fixed; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    overflow-y: hidden;
    overflow-x: hidden;

}
.fondo{
    width: 100%;
    position: absolute;
    z-index: -10;
    opacity: 0.4;
}
.acheDos{  
    font-family: "EB Garamond", serif;
    
}


.arriba {
    width: 100vw;
    margin-top: -40px;
    height: 15vh;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    box-sizing: border-box;
}

.nutriplan {
    font-size: 35px;
    font-family: 'Merienda', cursive;
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.logoo {
    height: 80px;
    margin-right: 15px;
}

/* Contenedor central */
.container {
    width: 350px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    margin-top: 20px;
}

h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Krona One', sans-serif;
}

/* Imagen del logo centrada en el contenedor */
.Logo {
    width: 80px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para los campos de entrada */
input[type="email"], 
input[type="password"], 
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Botones de acción */
#BotonRegistro {
    background-color: #ffffff;
    color: #75972E;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    border: solid 1px #75972E;
}

#BotonLogin:hover {
    background-color: #577320;
}

#BotonLogin {
    background-color: #75972E;
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    border: solid 1px #75972E;
}

#BotonRegistro:hover {
    background-color: #f0f0f0;
}

/* Alinear las acciones en columna */
.actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
