body {
    font-family: sans-serif;
    background-image: url('pexels.png');
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-position: center; /* Centra la imagen en la pantalla */
    height: 100vh; /* Asegura que el fondo cubra toda la altura visible */
    margin: 0;
    position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Merienda;
    overflow-x: hidden;
    position: relative;
}


.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.329); 
    z-index: 1; 
    position: fixed;
}


.arriba{
    width: 100vw;
    height: 150px;
    background-color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
}
.logo{
    font-size: 35px;
    font-family: Merienda;
}
.nutriplan{
    font-size: 35px;
    font-family: Merienda;
}



.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 35%;
    border: 2px solid black;
}

header.arriba, .container {
    position: relative;
    z-index: 2; 
}

h1{
    display: flex;
    justify-content: center;
}



.radioInputGen {
    opacity: 0;
    position: absolute;
}




.opt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.opciones {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.genero {
    display: flex;
    justify-content: center;
    gap: 40px; 
    align-items: center;
    margin-top: 20px; 
    flex-direction: column;
}

.genero h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.genero-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 120px; 
    height: 120px; 
    background-color: #cfcfcf;
    color: #000;
    border: 2px solid #555;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

.genero-button img {
    width: 40px; 
    height: auto;
    margin-bottom: 5px;
}

.genero-button span {
    font-size: 16px;
    font-family: 'Merienda', sans-serif;
    font-weight: bold;
    color: #333;
}

.genero-button:hover {
    background-color: #b3b3b3;
    transition: all 0.3s ease;
}



.actividad-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.actividad-button {
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    border: 2px solid black;
    font-family: Sedentario;
}

.actividad-button.active {
    background-color: rgb(55, 55, 65);
    color: white;
    border: 2px solid black;
}

.objetivo-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;

}

.objetivo-button {
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    border: 2px solid black;
    margin: 10px;
    font-family: Sedentario;
}

.objetivo-button.active {
    background-color: rgb(55, 55, 65);
    color: white;
    
}

.barrita{
    width: 300px;
    height: 30px;

    

}


.resul{
    width: 300px;
    height: 60px;
    border: 2px solid;
    font-family: cursive;

    
}

.personita{
    width: 60px;
    height: 60px;
}


.menu {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: 10px; 
    z-index: 5; 
}

.menu-button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    font-size: 14px; 
    cursor: pointer;
    color: black;
    font-family: 'Merienda', sans-serif;
    z-index: 6;
    padding: 5px 8px; 
}


.icono-usuario {
    width: 20px; 
    height: 20px;
    margin-right: 5px;
}

.icono-desplegable {
    width: 12px; 
    height: 12px;
}


.menu-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1); 
    z-index: 7;
    border-radius: 3px; 
    text-align: left;
    overflow: hidden;
    min-width: 150px; 
}

.menu-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    font-family: 'Merienda', sans-serif;
    font-size: 14px; 
}


.menu-content a:hover {
    background-color: #f1f1f1;
}
