body {
    font-family: sans-serif;
    background-image:url('descarga.png'); 
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-position: center; /* Centra la imagen en la pantalla */
    height: 100vh; /* Asegura que el fondo cubra toda la altura visible */
    margin: 0; 
    position: relative;
    background-color: transparent 50% ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.container {
    background-color: #c0c0c0;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 35%;
    border-bottom: 10px;
    
}

h1{
    display: flex;
    justify-content: center;
}
#mujer{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #727272;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
#hombre{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #727272;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.genero button:hover {
    background-color: #555;
    width: 100px;
    transition-duration:600ms;
}


.actividad-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.actividad-button {
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
}

.actividad-button.active {
    background-color: rgb(55, 55, 65);
    color: white;
}

.objetivo-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.objetivo-button {
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
}

.objetivo-button.active {
    background-color: rgb(55, 55, 65);
    color: white;
}

.barrita{
    width: 300px;
    height: 30px;

}

.personita{
    width: 60px;
    height: 60px;
}