body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1{
    font-size: 20px;
    position: absolute;
    margin-top: -400px;
}

.container {
    background-color: #c0c0c0;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gender {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.gender div {
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
    text-align: center;
    
}

input, select {
    width: calc(100% - 20px);
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.mujer{
    width: 100px;
    height: 100px;
    background-color: #d3d3d3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.Hombre{
    width: 100px;
    height: 100px;
    background-color: #d3d3d3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.gender button:hover {
    background-color: #555;
    width: 200%;
    transition-duration: 2500ms;
}
.boton button:hover{
    background-color: #555;
    font-size: 30px;
    transition: 2500ms;
}

.niveles-de-actividad{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.opcion {
    display: block;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.opcion input {
    display: none;
}

.opcion span {
    font-size: 16px;
    font-weight: normal;
    display: block;
}

.opcion p {
    font-size: 12px;
    color: #666;
    margin: 5px 0 0;
}

.opcion:hover {
    background-color: #f0f0f0;
}



