*{
    margin: 0;
    padding: 0;
}

body{

    text-align: center;
    background-color: rgba(223, 214, 167, 1);
    
}
h1{
    display: flex;
    justify-content: center;
    height: 60px;
    top: 229px;
    left: 610px;
    margin-top: 120px;
    width: 100vw;
    

}
.arriba{
width: 100vw;
height: 20vh;
background-color: rgba(47, 75, 38, 1);
}
.arriba.nutriplan{
    display: flex;
    justify-content: left;
    margin: 45px;
    margin-top: -75px;
    font-weight: bold;
    font-size: 30px;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    color: bisque;
}

.inicio{
 display: flex;   
 justify-content: flex-end;
 margin: 50px;
 margin-top: -50px;
 font-size: 22px;
 color: bisque;
}
.nutriplan{
    display: flex;
    justify-content: left;
    margin: 45px;
    margin-top: -75px;
    font-weight: bold;
    font-size: 30px;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    color: bisque;

}

img{
    display: flex;
    width: 40px;
    height: 40px;
    margin-top: -356px;
    margin-left: 178px;

}
.bienvenida{

}
.segundafila{
    margin-top: 10px;
    }
    .tercerfila{
        margin-top: 20px;
    }