


:root {
    margin: 0;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url("verde.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: 'Merienda', sans-serif;
}


.totalmacros {
    background: #F4F0F0;
    width: 40%;
    height: 70%;
    border: 2px solid black;
    padding: 30px 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Cambié a 'space-between' */
    align-items: center; /* Alinea los elementos al centro */
    margin-top: 200px;
}



.titulo1 p {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    height: 5%;
    font-family: "EB Garamond", serif;
}




.calor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    font-family: "EB Garamond", serif;
    height: 10%;
}


.proteycarbo {
    /* display: flex;
    justify-content: space-around; */
    /* margin-bottom: 15px; */
    /* flex-direction: column; */
    font-family: "EB Garamond", serif;
margin: 4%;
}


.prote, .carb {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 50%;
}


.boton {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea verticalmente si es necesario */
    margin-top: 20px; /* Ajusta el margen superior si es necesario */
    margin-bottom: 10px; /* Ajusta el margen inferior si es necesario */
}

.crear {
    background-color: #C5C5C5;
    color: black;
    border: 2px solid #000000;
    padding: 12px 30px; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 18px; 
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.crear:hover {
    background-color: #45a049;
}


.opacidad {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000vh;
    height: 105vh;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 0;
}


.usuario{
    font-size: 35px;
    font-family: Merienda;
    
}

.grandote{
    height: 45%;
    width: 100%;
    position: absolute;
  
    top: 0;
}

.arriba{
    width: 100vw;
    height: 150px;
    background-color:rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    }
    .logo{
        font-size: 35px;
        font-family: Merienda;
    }
    .nutriplan{
        font-size: 35px;
        font-family: Merienda;
    }




.menu {
    position: relative;
    /* display: inline-block; */
    margin-left: auto;
    margin-right: 20px;
    
}


.menu-button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    color: black;
    font-family: 'Merienda', sans-serif;
    display: block;
}


.icono-usuario {
    width: 24px; 
    height: 24px;
    margin-right: 8px;
}


.nombre-texto {
    font-size: 18px;
    margin-right: 8px;
}


.icono-desplegable {
    width: 16px; 
    height: 16px;
}


.menu-content {
    display: none; 
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    text-align: left;
}


.menu-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-family: 'Merienda', sans-serif;
    font-size: 16px;
}


.menu-content a:hover {
    background-color: #f1f1f1;
}